body{
    font-family: Roboto,Open Sans,Arial,sans-serif;
}
.tarjetas{
    text-align:center;
    border:black;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background: linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
}

button{
    border-radius: 50px;
    /*padding: 20px;*/
    height: 50px;
    width: 350px;
    color: white;
    background-color: black;
}