*{padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

    body {
      background: #121216;
  
 
     }
     
     /*contenedor del header */
     .caja_padre {
      margin:20px 54px;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      
      background: #2F7336;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #351414, #2F7336);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #522221, #1a241b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
    }

      a p {
      font-size: 12px;
      color: #ffffff;
    
     
      }

      /*icono fa-angle-right  */
     i{
     font-size: 9px;
    
      } 

     .logo-tigo{width: 20PX;
     height: 20px;
     margin-top: 15px;

     }

     /*contenedor del logo de tipo*/

     .tigo {
     width: 17vw;
     height: 15vh;
     border: 1px solid rgb(102, 101, 101);
     text-align: center;
     padding: 20px 10px;
     border-radius: 10px 10px;
     }

     .logo img{
     width: 8vw;
     height: 4vh;
     margin-right: 100px;
     margin-top: 20px;
     }
       
      /*contenedor de iniciar sesion*/
     .entrada{
     border-radius: 40px;
     padding: 12px 12px;
     border:1px solid rgb(156, 154, 154);
     border-bottom: 2px solid rgb(255, 255, 255);
     border-top: 2px solid #ffffff;
     margin-right: 30px;
     }

      a {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 900;
     text-decoration: none;
      }
      
      a .entrada{
     color: #ffffff;
     font-weight: 900;
     font-size: 11px;
     font-family: Arial, Helvetica, sans-serif;
     text-transform: uppercase;
      }
      
      /*contenedor porque elegir Deezer*/
      .segunda-caja{
       background-color: #121216;
      }

    
      .elegir{
      color: #ffffff;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      margin-top: 10px;
      
       }
 
      .parrafo1{
      text-align: center;
      width: 41vw;
      height: 15vh;


      }
      .parrafo1{
      font-family:Arial, Helvetica, sans-serif;
      font-size: 16px roboto;
      margin-left: 30%;
      margin-top: 20px;
      color: #bebec7;
     

      }

      /*  contenedor de descubrir otras funciones*/

      .descubre{
      background-color: #ffffff;
      width: 60vh;
      line-height: 10vh;
      margin-left: 37%;
      height: 10vh;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 30px;
      
     }
     a .descubre{
        color: #000000;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif
      }
      

      /*contenedor de vive la experiencia con flow*/
     .experiencia{
       margin-top: 4%;
       font-size: 28px;
       color: #ffffff;
       font-family: Arial, Helvetica, sans-serif;
       text-align: center;
     }   

     .parrafo2{
      font-family:Arial, Helvetica, sans-serif;
      font-size: 15px;
      margin-left: 30%;
      margin-top: 20px;
      color: #bebec7;
     }

     .parrafo2{
      text-align: center;
      width: 41vw;
      height: 10vh;

      
     }

      /*imagen de flow*/
     .flow img{
      margin-bottom: 90px;
      }


     .flow{
      width:80vw;
      height: auto;
      margin-left: 10%;
      }


      /*contenedor descubre-flow */
     .descubre-flow{
      background-color: #ffffff;
      width: 13vw;
      margin-top: 20px;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 43%;
      height: 9vh;
      }
      
      a .descubre-flow{
        text-transform: uppercase;
        text-align: center;
     font-size: 15px;
     color: #000000;
     }
     
     
     .parrafo3{
       text-align: center;
       width: 38vw;
     margin-top: 10px;
     height: 10vh;
     font-family:Arial, Helvetica, sans-serif;
     font-size: 17px;
     margin-left: 30%;
     color: #bebec7;
    }

    /*contenedor de no tienes internet ? no hay problema*/
     .internet{
     margin-top: 40px;
     font-size: 28px;
     color: #ffffff;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     }

     .escuchar{
      background-color: #ffffff;
      height: 9vh;
      width: 16vw;
      margin-top: 20px;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 42%;
    }
  
    a .escuchar{
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      color: #000000;
    }
    
    .explorar{background-color: #ffffff;
      width: 20vw;
      margin-top: 30px;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 40%;
      height: 9vh;}

     a .explorar{
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      color: #000000;
     }
    
     .lineas{
       display: flex;
       justify-content: center;
       margin-top:20px ;
     }
     .lineas p{
       color: #ffffff;
       font-size: 15px;
       font-weight: 900;
       text-transform: uppercase;
       font-family: Arial, Helvetica, sans-serif;
     }
     hr{
       border-color: #615b5b;
       padding-top: 0px;
       margin: 10px 10px;
       width: 20vw;
       height: 0px;
     }
     
     .biblioteca{
      margin-top: 40px;
      width: 45vw;
      margin-left: 27%;
      
      font-size: 40px;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
     }

     .parrafo5{
    text-align: center;
    width: 46vw;
    margin-top: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-left: 30%;
    color: #bebec7;
     }

     .vector{
       width: 45vw;
       margin-left:29%;
     }.escuchar{
      background-color: #ffffff;
      height: 9vh;
      width: 16vw;
      margin-top: 20px;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 42%;
    }
  
    a .escuchar{
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      color: #000000;
    }
    
    .explorar{background-color: #ffffff;
      width: 20vw;
      margin-top: 30px;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 40%;
      height: 9vh;}

     a .explorar{
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
      color: #000000;
     }
    
     .lineas{
       display: flex;
       justify-content: center;
       margin-top:20px ;
     }
      
      
     .lineas p{
       color: #ffffff;
       font-size: 15px;
       font-weight: 900;
       text-transform: uppercase;
       font-family: Arial, Helvetica, sans-serif;
     }
     hr{
       border-color: #615b5b;
       padding-top: 0px;
       margin: 10px 10px;
       width: 20vw;
       height: 0px;
     }


     .informacion{background-color: #ffffff;
      width: 10vw;
      border-radius: 40px;
      line-height: 10vh;
      margin-left: 47%;
      height: 9vh;}

      a .informacion{
        text-transform: uppercase;
        text-align: center;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 13px;
        color: #000000;
       }